body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.main-content {
  box-sizing: border-box;
  background-color: #e5e4e4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 200px 30px;
}
#deposit {
  height: 150px;
  width: 30%;
  border-radius: 5px;
  background-color: crimson;
  padding-left: 20px;
}
#withdraw {
  height: 150px;
  width: 30%;
  border-radius: 5px;
  background-color: crimson;
  padding-left: 20px;
}
#balance {
  height: 150px;
  width: 30%;
  border-radius: 5px;
  background-color: crimson;
  padding-left: 20px;
}
.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.section2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 70px;
  width: 100%;
}
.depositsection {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 47%;
  background-color: #535555;
  padding-left: 20px;
}
.withdrawsection {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 47%;
  background-color: #535555;
  padding-left: 20px;
}
#depositInput {
  padding: 5px 15px;
  font-size: 18px;
  width: 50%;
  border-radius: 2px;
  outline: none;
  border: none;
}
#withdrawInput {
  padding: 5px 15px;
  font-size: 18px;
  width: 50%;
  border-radius: 2px;
  outline: none;
  border: none;
}
#withdrawbtn {
  width: 20%;
  padding: 5px 10px;
  border-radius: 2px;
  border: none;
  color: white;
  background-color: crimson;
  font-size: 18px;
  margin-top: 20px;
}
#depositbtn {
  width: 20%;
  padding: 5px 10px;
  border-radius: 2px;
  border: none;
  color: white;
  background-color: crimson;
  font-size: 18px;
  margin-top: 20px;
}
.section1-h2 {
  color: white;
}
.section2-h2 {
  color: crimson;
}
